.subtitulo1 {
    color:#000000;
    font-size: 300%;
    font-family: 'Mukta', sans-serif;
    margin-top: 2%;
    margin-left: 2%;
}

.textos {
    color: #000000;
    font-size: 130%;
    font-family: 'Mukta', sans-serif;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-left: 2%;
}

.navegacion{font-size: 150%;}

.nombre{font-size: 200%;}

.textito {
    font-size: 150%;
    text-align: justify;
    padding: 1% 5% 5% 5%;
}


.tercero {
    color:#000000;
    font-size: 150%;
    font-family: 'Mukta', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
